*{
	background-color: #96d86d;
	font-family: "Ubuntu",sans-serif;
	color: #152d0a;
	margin:0;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
*::-webkit-scrollbar {
	  display: none; /* For Chrome, Safari, and Opera */
}
body {
	overflow-x: hidden;
}

/*Navbar*/

nav{
	position: absolute;
	display: flex;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
	margin-top: 1.5rem;
	z-index: 1000;
}
nav div ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}
nav div ul li{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 3rem;
	font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navLink{
	text-decoration: none;
	border-radius: 1rem;
	padding-top:0.7rem;
	padding-bottom:0.7rem;
	padding-right:1.5rem;
	padding-left:1.5rem;
	transition: 0.8s;
}

.navLink:hover{
	background-color: #152d0a;
	color:#96d86d;
}

#selected{
	background-color: #152d0a;
	color:#96d86d;
}

/* responsive nav */
@media(max-width: 768px){
	nav div ul li{
		margin-left: 0;
		margin-right: 0;
	}
	.navLink {
		padding-right:.5rem;
		padding-left:.5rem;

	}
	nav div ul {
		padding: 0;
	}
}
@media(max-width: 392px){
	.logo h2 {
		display: none;
	}
}

/*Results*/
#score{
	padding-top: 4rem;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 2em;
}


@media(max-width: 950px){
	#score {
		flex-direction: column;
	}
}
.Results{
	background-color: #152d0a;
	color: #96d86d;
	border-radius: 2rem;
	padding:4rem;
	max-width: 32%;
	padding-bottom: 4rem;
	padding-top: 4rem;
}
.Results h1{
	background-color: #152d0a;
	color: #96d86d;
	font-size: 3rem;
}
.Results h4{
	background-color: #152d0a;
	color: #96d86d;
	font-size: 1rem;
}

@media(max-width: 600px){
	.Results  {
		max-width: 90%;
	}
}

.Info{
	margin-top: 1rem;
	background-color: #152d0a;
	color: #96d86d;
}

.extraContainer{
	background-color: #152d0a;
	color: #96d86d;
	list-style: disk;
}


.bigTextScore{
	background-color: #152d0a;
	color: #96d86d;
	font-size: 2rem;
}

.Recommendations{
	background-color: #152d0a;
	color: #96d86d;
	max-width: 40%;
	border-radius: 2rem;
	padding:2rem;
	padding-bottom: 4rem;
	padding-top: 4rem;
	margin-left: 2rem;
}
.dataSources{
	background-color: #152d0a;
	color: #96d86d;
	width: 90%;
	border-radius: 2rem;
	padding:2rem;
	padding-bottom: 4rem;
	padding-top: 4rem;
}

.dataSourceHeading{
	background-color: #152d0a;
	color: #96d86d;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1rem;
}


.dataSources ul li,.dataSources ul li a,.dataSources ul{
	background-color: #152d0a;
	color: #96d86d;
}


#data-sources{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:90vw;
}


.upperContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
@media(max-width: 600px){
	.Recommendations {
		max-width: 90%;
	}
}

.Recommendations h1{
	background-color: #152d0a;

	color: #96d86d;
}
.custom-list{
	background-color: #152d0a;
	color: #96d86d;
	margin-top: 1rem;
}
.custom-list li{
	background-color: #152d0a;
	color: #96d86d;
	font-size: 1.3rem;
}
.custom-list li span{
	background-color: #152d0a;
	color: #96d86d;
}
/*Other things*/

section{
	width: 100vw;
	min-height: 100vh;
	min-height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.coolButton{
	border-radius: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	background-color: #152d0a;
	color: #96d86d;
	font-size: 2rem;
	text-decoration: none;
	border: 2px solid #303c2b;
	transition: 0.6s;
	&:hover,
  	&:focus { 
   	 border-color: var(--hover);
   	 color: #16a046;
  }
}

.coolButton:hover,
.coolButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


/*Curves*/

.wavyCurve{
	display: flex;
	background-color: #94d474;
}

/*Footer*/
footer{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;
	background-color: #1e361a;
	justify-content: center;
	align-items: center;
	padding-bottom:1em;
	margin:0;
}

footer h1{
	color: #98d776;
	background-color: #1f361b;
}

footer p{
	color:#98d776;
	background-color: #1f361b;
	width: 40%;
	text-align: center;
	margin:1rem;
}

footer p a{
	color:#98d776;
	background-color: #1f361b;
	width: 40%;
	text-align: center;

}


/*#footerLinks{
	display: flex;
	flex-direction: row;
	list-style: none;
	background-color: #1e361a;
}

footer ul li{
	background-color: #1e361a;

}

.link{
	color:white;
	display: flex;
	flex-direction: column;
	background-color: #1e361a;
	margin: 1rem;
	text-decoration: none;

}

*/


/*Media queries*/

@media(max-width: 768px){
	.links{
		display: hidden;
	}
	.WelcomeText{
		width: 100%;
	}
	.logo{
		margin-left: 0.5rem;
	}
}

@media(max-width: 255px){
	footer h1 {
		font-size: 1.5em;
	}
}