{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pollution to Power: Carbon Calculator</title>
<link rel="stylesheet" type="text/css" href="{% static 'projects/carbonCalc.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>


<!-- Navbar -->
<nav>
  <div class="logo">
    <h2>Pollution to Power</h2>
  </div>

  <div class="links"> 
    <ul>
      <li ><a href="/" class="navLink">Home</a></li>
      <li ><a href="/#about" class="navLink">About</a></li>
      <li ><a href="/project" class="navLink" id="selected">Project</a></li>
      <li ><a href="/contact" class="navLink">Contact</a></li>
    </ul>
  </div>
</nav>

<section>
<div class="container" data-aos="zoom-in">
        <h1 class="heading" data-aos="fade-in">Carbon Footprint Calculator</h1>
        <form action="/carbonResults" class="form-group field">
            {%csrf_token%}
          <!-- <label for="Country" class="form-label">Which Country do you belong to?</label> -->
          <input type="text" name="Country" id="Country"placeholder="Your country name, for ex. India" class="input-field" required>


          <!-- <label for="DailyDist" class="form-label"> -->
            <!-- How much distances do you cover daily by vehicles? -->
          <!-- </label> -->
          <input type="number"  inputmode='numeric' name="DailyDist" id="DailyDist" placeholder="Your daily vehicle distance in km, for ex. 3" class="input-field" required>


          <!-- <label for="AirDist" class="form-label">How long distances do you cover by air vehicles each year?</label> -->
          <input type="number" inputmode='numeric' name="AirDist" id="AirDist" placeholder="Your distances covered by air vehicles in km, for ex. 600" class="input-field" required>

          <!-- <label for="LandDist" class="form-label">How long distances do you cover each in trains ,etc.?</label> -->
          <input type="number" inputmode='numeric' name="LandDist" id="LandDist" placeholder="Your distances covered by land vehicles in km, for ex. 800" class="input-field" required>
          

          <!-- <label for="ElecBill" class="form-label" >What is your monthly electricity bill?</label> -->
          <input type="number"  inputmode='numeric' name="ElecBill" id="ElecBill" placeholder="Your monthly electricity bill in $, for ex. 40" class="input-field" required>

          <!-- <label for="GasBill" class="form-label">What is your monthly gas bill</label> -->
          <input type="number"  inputmode='numeric' name="GasBill" id="GasBill" placeholder="Your monthly gas bill in $, for ex. 10" class="input-field" required >

          <input type="submit" id="submitButton" name="SubmitButton" class="coolButton" >

        </form>
      </div>
</section>


<!-- Footer -->
<div class="wavyCurve">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1f391a" fill-opacity="1" d="M0,128L48,128C96,128,192,128,288,149.3C384,171,480,213,576,208C672,203,768,149,864,133.3C960,117,1056,139,1152,144C1248,149,1344,139,1392,133.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</div>

<footer>
  <h1>Pollution To Power</h1>
  <p>We love to conserve the nature and so should you! hope you enjoy our website and get in the movement to promote more sustainable development!You can check the project code <a href="https://github.com/ShibamRoy9826/PollutionToPower">here</a></p>
</footer>



<!-- AOS animations-->
 <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script type="text/javascript">
  AOS.init();
    AOS.init({

        offset: 100, // offset (in px) from the original trigger point
        duration: 400

    });
</script>
</body>
</html>
