{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EarthSight: A Pollution Free future</title>
  <link rel="stylesheet" type="text/css" href="{% static 'landing/styles.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>


<body>
<!-- Navbar -->
<nav>
  <div class="logo">
    <h2>EarthSight</h2>
  </div>

  <div class="links"> 
    <ul>
      <li ><a href="/" class="navLink" id="selected">Home</a></li>
      <li ><a href="/#about" class="navLink">About</a></li>
      <li ><a href="/project" class="navLink">Project</a></li>
      <li ><a href="/contact" class="navLink">Contact</a></li>
    </ul>
  </div>
</nav>


<!-- Home Section -->
<section id="home">
  <div class="WelcomeText">
    <h1 id="heading">Welcome to EarthSight!</h1>
    <h3 id="sub-heading">Let's be aware of ourselves, and make this world a better place:)</h3>
    <p id="para">Welcome to EarthSight, where you can access real-time air quality data and essential environmental indicators for your locality. Calculate your carbon footprint with our user-friendly tool and receive personalized suggestions to reduce your emissions. Empower yourself with the knowledge and resources to make a positive impact on your environment and contribute to a sustainable future.</p>

    <a href="#" class="coolButton">Let's Go🌲🌲</a>
  </div>

  <!-- Image -->

    <img class="image1" src="{% static 'landing/Images/background.jpg' %}" alt="Nature related image" >

</section>



<!-- About Section -->

<div class="wavyCurve">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="yellow" fill-opacity="1" d="M0,128L48,128C96,128,192,128,288,149.3C384,171,480,213,576,208C672,203,768,149,864,133.3C960,117,1056,139,1152,144C1248,149,1344,139,1392,133.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</div>

<section id="about">
  <div class="About">
    <h1 id="about-heading">About</h1>
    <p id="about-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   </p>
  </div>


  <!-- About section image -->
  <img class="image1" src="{% static 'landing/Images/about.jpg' %}" alt="Nature related image" >

</section>

<!-- Data Sources -->
<section id="data-sources">
  <div class="DataSourcesContainer">
    <h1 id="data-heading">Data Sources</h1>
    <p id="data-para">I acknowledge all the data sources without which this project may not have been possible!
  </p>
  <div class="data-images-container">
    <h1>Images to be added</h1>
  </div>
  </div>


</section>


<!-- Footer -->
<div class="wavyCurve">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1f391a" fill-opacity="1" d="M0,128L48,128C96,128,192,128,288,149.3C384,171,480,213,576,208C672,203,768,149,864,133.3C960,117,1056,139,1152,144C1248,149,1344,139,1392,133.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</div>

<footer>

  <!-- <ul id="footerLinks">
    <li><a href="#" class="link">Home</a></li>
    <li><a href="#" class="link">About</a></li>
    <li><a href="#" class="link">Project</a></li>
    <li><a href="#" class="link">Contact</a></li>
  </ul> -->
  <h1>EarthSight</h1>
  <p>We love to conserve the nature and so should you! hope you enjoy our website and get in the movement to promote more sustainable development!You can check the project code <a href="https://github.com/ShibamRoy9826/EarthSight">here</a></p>
</footer>
</body>
</html>
