{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EcoVision: A Pollution Free Future</title>
  <link rel="stylesheet" type="text/css" href="{% static 'landing/styles.css' %}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap" rel="stylesheet">

</head>



<body>
  
<!-- Navbar -->
<nav class="Navbar">
  <div class="logo">
    <h1>EcoVision</h1>
</div>
  <ul>
    <li><a href="#" class="NavbarLinks">Home</a></li>
    <li><a href="#" class="NavbarLinks">About</a></li>
    <li><a href="#" class="NavbarLinks">Try Out</a></li>
    <li><a href="#" class="NavbarLinks">Contact</a></li>
  </ul>
</nav>

<!-- Navbar End -->
</body>


</html>