{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EcoVision: A Pollution Free Future</title>
  <link rel="stylesheet" type="text/css" href="{% static 'landing/styles.css' %}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap" rel="stylesheet">


<body>
  
<!-- Navbar -->
<nav class="Navbar">
  <div class="logo">
    <h1><b>EcoVision</b></h1>
</div>
  <ul>
    <li><a href="#" class="NavbarLinks">Home</a></li>
    <li><a href="#" class="NavbarLinks">About</a></li>
    <li><a href="#" class="NavbarLinks">Try Out</a></li>
    <li><a href="#" class="NavbarLinks">Contact</a></li>
  </ul>
</nav>

<!-- Navbar End -->
<div class="background"></div>
<section id="home">
  <div class="SomeInfo">
    <h1><b>Welcome to EcoVision!</b></h1>
    <h3>Let's be aware about ourselves and create a better future:)</h3>
    <p>Here you can access real-time air quality data and essential environmental indicators for your locality. Calculate your carbon footprint with our user-friendly tool and receive personalized suggestions to reduce your emissions. Empower yourself with the knowledge and resources to make a positive impact on your environment and contribute to a sustainable future. </p>
  </div>

</section>

<section id="about">
  
</section>

</body>
</html>