*{
	background-color: #96d86d;
	font-family: "Ubuntu",sans-serif;
	color: #152d0a;
	margin:0;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
*::-webkit-scrollbar {
	  display: none; /* For Chrome, Safari, and Opera */
}
body {
	overflow-x: hidden;
}

/*Navbar*/

nav{
	position: absolute;
	display: flex;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
	margin-top: 1.5rem;
	z-index: 1000;
}
nav div ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}
nav div ul li{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 3rem;
	font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navLink{
	text-decoration: none;
	border-radius: 1rem;
	padding-top:0.7rem;
	padding-bottom:0.7rem;
	padding-right:1.5rem;
	padding-left:1.5rem;
	transition: 0.8s;
}

.navLink:hover{
	background-color: #152d0a;
	color:#96d86d;
}

#selected{
	background-color: #152d0a;
	color:#96d86d;
}

/* responsive nav */
@media(max-width: 768px){
	nav div ul li{
		margin-left: 0;
		margin-right: 0;
	}
	.navLink {
		padding-right:.5rem;
		padding-left:.5rem;

	}
	nav div ul {
		padding: 0;
	}
}
@media(max-width: 392px){
	.logo h2 {
		display: none;
	}
}



/*Home Section*/
#home{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 4rem;
}
.WelcomeText{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
    text-align: center;
    position: relative;
    margin-left: 2rem;
    flex:1;
}

.image1{
	max-width: 35vw;
	height: 50%;
	border-radius: 2rem;
	border: 3px solid #192f10;
	flex:2;
	margin-right: 2rem;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}


#heading{
	font-family: "Exo 2", sans-serif;
font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

#sub-heading{
	margin: 0.7rem;
}
#para{
	margin: 0.7rem;
	margin-bottom: 2rem;
	width: 70%;
}

/*Responsive Home*/
@media(max-width: 768px){
	.WelcomeText {
		margin-left: 0;
	}

	#heading {
		font-size: 3rem;
	}
	.image1 {
		display: none;
	}
	#home {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media(max-width: 255px){
	#heading {
		font-size: 1.3em;
	}
	.coolButton {
		font-size: 1.3em;
	}
}

/*About section*/
#about{
	background-color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

}
.About{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: yellow;
	margin-left: 2rem;
	flex:1;
}
#about-heading{
	font-family: "Exo 2", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
  background-color: yellow;
}


#about-para{
	margin: 0.7rem;
	margin-bottom: 2rem;
	width: 70%;
	background-color: yellow;
}

/*Responsive About*/
@media(max-width: 768px){
	.About {
		margin: 0;
	}
}
@media(max-width: 255px){
	#about-heading{
		font-size : 1.6em;
	}
}
/*Data Sources section*/
#data-sources{
  background-color: #96d86d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 70vh;

}
.DataSourcesContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: yellow;
	margin-left: 2rem;
	flex:1;
  background-color: #96d86d;
}
#data-heading{
	font-family: "Exo 2", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
  background-color: #96d86d;
}


#data-para{
	margin-top: 0.7rem;
	margin-bottom: 2rem;
	width: 70%;
	background-color: yellow;
  background-color: #96d86d;
  text-align: center;
}

/*Responsive About*/
@media(max-width: 768px){
	.DataSourcesContainer {
		margin-left: 0;
	}
}
@media(max-width: 294px){
	#data-heading {
		font-size: 2em;
	}
}
/*Other things*/

section{
	width: 100vw;
	min-height: 80vh;
	min-height: 80svh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.coolButton{
	border-radius: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	background-color: #152d0a;
	color: #96d86d;
	font-size: 2rem;
	text-decoration: none;
	border: 2px solid #303c2b;
	transition: 0.6s;
	&:hover,
  	&:focus { 
   	 border-color: var(--hover);
   	 color: #16a046;
  }
}

.coolButton:hover,
.coolButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


/*Curves*/

.wavyCurve{
	display: flex;
}
/*Footer*/
footer{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;
	background-color: #1e361a;
	justify-content: center;
	align-items: center;
	padding-bottom:1em;
	margin:0;
}

footer h1{
	color: #98d776;
	background-color: #1f361b;
}

footer p{
	color:#98d776;
	background-color: #1f361b;
	width: 40%;
	text-align: center;
	margin:1rem;
}

footer p a{
	color:#98d776;
	background-color: #1f361b;
	width: 40%;
	text-align: center;

}


/*#footerLinks{
	display: flex;
	flex-direction: row;
	list-style: none;
	background-color: #1e361a;
}

footer ul li{
	background-color: #1e361a;

}

.link{
	color:white;
	display: flex;
	flex-direction: column;
	background-color: #1e361a;
	margin: 1rem;
	text-decoration: none;

}

*/


/*Media queries*/

@media(max-width: 768px){
	.links{
		display: hidden;
	}
	.WelcomeText{
		width: 100%;
	}
	.logo{
		margin-left: 0.5rem;
	}
}
@media(max-width: 255px){
	
	footer h1 {
		font-size: 1.5em;
	}
	
}
