*{
	background-color: #96d86d;
	font-family: "Ubuntu",sans-serif;
	color: #152d0a;
}

/*Navbar*/

nav{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-contents: center;
	align-items: center;
}
nav div ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}
nav div ul li{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 3rem;
	font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navLink{
	text-decoration: none;
	border-radius: 1rem;
	padding-top:0.7rem;
	padding-bottom:0.7rem;
	padding-right:1.5rem;
	padding-left:1.5rem;
	transition: 0.8s;
}

.navLink:hover{
	background-color: #152d0a;
	color:#96d86d;
}

#selected{
	background-color: #152d0a;
	color:#96d86d;
}

/*Home Section*/
section{
	display: flex;
	justify-content: center;
	align-items: center;
}
.WelcomeText{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
  text-align: center;
  margin-top: 2rem;
}

#heading{
	font-family: "Exo 2", sans-serif;
  font-size: 5rem;
  font-weight: bold;
}
